@import 'src/styles/variables';

@mixin dashboard-section($variant: big) {
	margin-top: $gap;
	background-color: $bg-block;
	border-radius: $radius;

	@if $variant == small {
		padding: 18px 26px;
	} @else {
		padding: 25px 35px;
	}
}

@mixin flex-horisontal-center {
	display: flex;
	align-items: center;
}

@mixin transition($property: all) {
	transform: $property 0.3s easy-in-out;
}
